# Assignment 4: Data Wrangling and Classes in Python

## POP77001 Computer Programming for Social Scientists

## Before submission

- Do not use external libraries unless explicitly specified.
- Make sure that you can run all cells without errors.
- You can do it by clicking `Kernel`, `Restart & Run All` in the menu above.
- Make sure that you save the output by pressing Command+S / CTRL+S.
- Rename the file from `04_assignment.ipynb` to `04_assignment_studentnumber_firstname_lastname.ipynb`.
- Use Firefox browser for submitting your Jupyter notebook on Blackboard.

## Exercise 1: Data transformation

For exercises 1-3 we will be working with the [Titanic](https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv) dataset. It contains the list of passengers on Titanic with their sociodemographic characteristics, names and ticket details. First, create two new columns, called 'Last Name' and 'First Name' containing last name and first name of each passenger. Next, calculate the frequencies of passengers' last names. What were the 3 most common last names of passengers on the ship?

External libraries:
- `numpy`, `pandas`

In [1]:
import pandas as pd
import numpy as np

In [2]:
titanic = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Exercise 1:

# Your code goes here

Full_Names = titanic['Name']

Names = [N.replace("Mr.", "").replace("Miss", "").replace("Mrs.", "")
                   for N in Full_Names]
Names

titanic['Second_Name'] = [N.split(", ")[0] for N in Names]
titanic['Second_Name']


titanic['Second_Name'].value_counts()

# Anerson, Sage, Panula

Andersson    9
Sage         7
Panula       6
Skoog        6
Carter       6
            ..
Hanna        1
Lewy         1
Mineff       1
Haas         1
Dooley       1
Name: Second_Name, Length: 667, dtype: int64

## Exercise 2: Binning

When analyzing a continuous variable we often want to break it up into discrete categories (bins). For example, age might be considered as a categorical variable with discrete categories of '18-25', '26-35', etc. Implement a function that takes a dataframe, variable name and cutoff points (e.g. 18, 25, 35, etc.) as inputs and returns a dataframe with a single column, which is binned into desired categories. Run this function on the age column of Titanic dataset. What percentage of passengers falls into each of the age bins?

Tip: You can use `pandas.cut()` method internally.

Function specification:

Function takes 3 arguments:
- `df` - pandas data frame
- `col` - the name of column to be binned
- `cutoffs` - a sequence of cuttoff value to be used for binning

Function returns 1 object:
- `binned_df` - pandas data frame with the selected column binned according to the specification

External libraries:
- `numpy`, `pandas`

In [5]:
# Exercise 2:
def age_bin(df, col, cuttoffs):
    df = pd.DataFrame(df)
    col = df[col]
    bins = len(cuttoffs) - 1
    df['Age Group'] = pd.cut(np.array(col), bins,
    labels=['Under 18', '18 - 34','35 - 49', '50 - 64', '65+'])
    print(df['Age Group'])
    
age_bin(titanic, 'Age', [0, 18, 35, 50, 65, 99])

0      18 - 34
1      35 - 49
2      18 - 34
3      35 - 49
4      35 - 49
        ...
886    18 - 34
887    18 - 34
888        NaN
889    18 - 34
890    18 - 34
Name: Age Group, Length: 891, dtype: category
Categories (5, object): ['Under 18' < '18 - 34' < '35 - 49' < '50 - 64' < '65+']

In [6]:
titanic['Age Group'].value_counts(normalize=True) * 100

18 - 34     48.459384
35 - 49     26.330532
Under 18    14.005602
50 - 64      9.663866
65+          1.540616
Name: Age Group, dtype: float64

## Exercise 3: Pattern detection

Let us consider the column `Survived`, which contains a binary indicator of whether a given passenger survived the sinking of Titanic. What factors might explain the survival of some passengers but not others? How would you investigate these relationships? Describe your hypotheses and descriptive analyses that can help answering these questions. Perform the outlined descriptive analyses on the dataset.

External libraries:
- `numpy`, `pandas`

In [7]:
# Exercise 3:

# Your text and code go here
# Suvivded, Sex crosstabs
pd.crosstab(titanic['Survived'], titanic['Sex'])
# W/ percentages
pd.crosstab(titanic['Survived'], titanic['Sex'], normalize='index') * 100

Sex          female       male
Survived
0         14.754098  85.245902
1         68.128655  31.871345

In [8]:
# Survided, Age Group cross tab
pd.crosstab(titanic['Survived'], bin_df['AgeGroup'])
# W/ percentages
pd.crosstab(titanic['Survived'], bin_df['AgeGroup'], normalize='index') * 100

# The crosstabulations suggest there are differences in survivial by
# gender and age. Based on these differences I would hypothesize that being
# younger and female predict survival. To see if this
# assocations are statisitically signifcant we would perform a chi-sqaure.
# To see if it is indepdent of other variables in the model we could perform a
# logistic regression.

NameError: name 'bin_df' is not defined

## Exercise 4: Methods

Given below is a simple class definition for class `Person`. At the moment the only method it has is its constructor, that takes person's first name and last name as inputs. Implement 2 additional methods for this class. One would return person's full name, another one would print it out when an object of this class is an argument to `print()` or `str()`. Create an instance of the modified class and call the first method and `print()` function on it.

Method specification:

Method 1 returns 1 object:
- `full_name` - person's full name provided as first name and last name separated by a whitespace

Method 2 returns `None` and prints out the object as:
- `full_name` - person's full name provided as first name and last name separated by a whitespace

External libraries:
- None

In [ ]:
class Person(object):
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

In [13]:
# Exercise 4:

# Your text and code go here

class Person(object):
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name
    @property
    def full_name(self):
        return f'{self.first_name} {self.last_name}'
    @property
    def name(self):
        return f'{self.last_name}, {self.first_name}'
    
os = Person('Genc', 'Osman')

os.full_name

'Genc Osman'

In [10]:

class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name
    def __str__(self):
        return "{} {}".format(self.first_name, self.last_name)

os = Person('Genc', 'Osman') 
print(os)

Genc Osman

In [ ]:
str(os)

## Exercise 5: Inheritance

Now create an `Employee` class, which would inherit from `Person`. Add a data attribute for salary. Implement 2 methods, where (1) retrieves employee's salary and (2) gives a salary raise as a percentage of the current salary. Test both functions on an instance of this class.  

Method specification:

Method 1 returns 1 object:
- `salary` - person's annual salary provided as an integer or float

Method 2 takes 1 argument:
- `percentage` - percentage by which employee's salary should be raised

External libraries:
- None

In [11]:
# Exercise 5:

# Your text and code go here
def employee(self,salary):
    self.salary = salary
    
employee(os, 50000)

os.salary

50000

In [12]:
def rais3 (self):
    self.salary += 1000
    
rais3(os)

os.salary

51000